{
  "openapi": "3.0.1",
  "info": {
    "title": "Reservation Status API",
    "version": "v2.0"
  },
  "servers": [
    {
      "url": "https://mgr.bookinglane.com"
    }
  ],
  "paths": {
    "/api/ai-agent-reservations/status": {
      "get": {
        "operationId": "getReservationStatus",
        "tags": ["AiAgentReservation"],
        "parameters": [
          {
            "name": "reservationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessage"
                }
              }
            }
          },
          "404": {
            "description": "Reservation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StatusMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Reservation 123 for John is Confirmed and scheduled for 3:00 PM on July 1."
          }
        },
        "required": ["message"]
      }
    }
  }
}
